    {
        margin: 0;
        padding: 0;
 }

.pai {
    width: 200px;
    height: 200px;
    border: 2px solid black;
    margin: 30px auto;
    position: relative; 
    display: none;
}


.filho1 {
    width: 100px;
    height: 100px;
    background-color: blue;
    position: absolute;
    top: 0;
    left: 0;
}

.filho2 {
    width: 100px;
    height: 100px;
    background-color: red;
    position: absolute;
    top: 0;
    left: 0;
}

.div {
    background-color: darkgreen;
    border-radius: 10px;
    height: 100px;
    width: 100PX;
    border: 1px solid red;
}

ul {
    background-color: aqua;
    display: inline;
}

ul li {
    display: inline;
}

. container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
    height: 900px;
}

h1 {
    background-color: chocolate;
    display: inline;
}
p {

}

span {
    background-color: blueviolet;
    display: block;
}