@model MVcMovie.Models.Pessoa
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Cadsastro de pessoas";
}
<!--Criando formulário com razor-->
@using (Html.BeginForm("Cadastrar", "Home", FormMethod.Post))
{
    <div>
        Nome:
        @Html.TextBoxFor(m => m.Nome)
        Cpf:
        @Html.TextBoxFor(m => m.Cpf)
    </div>
    <input type="submit" value="Cadastrar"/>
}







