@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<P> Meu nome é Alexadra Atelli
    Meu linkedin é: lkn.com/alexandraatelli
    Meu git é github.com/alexandraatelli
    e-mail: alexandra.atelli@ufn.edu.br
</P>
